{% extends 'foodie_friend_app/base.html' %}
{% load static %}

{% block title %}
My Contacts
{% endblock title %}

{% block content %}
<div class="container">
  <h3 class="heading font-weight-light">Here are your menus</h3>
  {# status #}
  {{ result }}
  {% comment %} {{age}} {% endcomment %}
  <hr />
</div>
<div class="container main-part">

  {% if menus %}
  {% for menu in menus %}
  {% include 'foodie_friend_app/partials/_card.html' %}
  {% endfor %}
  {% else %}
  <p class="d-block font-weight-light my-2 heading">You have not saved any menus yet!</p>
  {% endif %}

</div>
{% endblock content %}